<h1>Edit agency</h1>

<%= form_for(@agency) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :orgname, "Department" %><br />
    <%= f.text_field :orgname %>
  </div>
  <div class="field">
    <%= f.label :jurisdiction %><br />
    <%= f.select( :jurisdiction, { "City agency" => "1", "State agency" => "2", "National agency" => "3"}) %>
  </div>
  <div class="field">
    <%= f.label :street1, "Address" %><br />
    <%= f.text_field :street1 %>
  </div>
  <div class="field">
    <%= f.label :street2, "Address (continued)" %><br />
    <%= f.text_field :street2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
	<%= f.select( :state, ApplicationHelper::STATES_LIST, :include_blank => "Choose..." ) %>
  </div>
  <div class="field">
    <%= f.label :pin %><br />
    <%= f.text_field :pin %>
  </div>
  <div class="field">
    <%= f.label :external_url, 'Website' %><br />
    <%= f.text_field :external_url %>
  </div> 
  <div class="field">
    <%= f.label :leader, 'Agency leader' %><br />
    <%= f.text_field :leader %>
  </div> 
  <div class="field">
    <%= f.label :leader_title, 'Designation' %><br />
    <%= f.text_field :leader_title %>
  </div> 
  <div class="field">
    <%= f.label :budget, 'Annual budget (in Rs crores)' %><br />
    <%= f.text_field :budget %>
  </div>   
  <div class="field">
    <%= f.label :budget_year, 'Budget year (Example: 2010-11)' %><br />
    <%= f.text_field :budget_year %>
  </div>   
  <div class="field">
    <%= f.label :rti_payee, "RTI fee must be paid to" %><br />
    <%= f.text_field :rti_payee %>
  </div>
  <div class="field">
    <%= f.label :rti_payable_at, "RTI fee must be payable at (leave blank if same as address)" %><br />
    <%= f.text_field :rti_payable_at %>
  </div>  
  <div class="field">
    <%= f.label :function %><br />
    <%= f.text_area :function %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>