<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1><%= @agency.orgname %></h1>
      
      <%= render 'jurisdiction' %>
      
      <div id="external_link">
      <% if @agency.external_url? %>
      	<%=	link_to @agency.external_url, @agency.external_url %>
      <% else %> 
      	<%= link_to 'Add URL', edit_page_path(@agency) %>
      <% end %> <br><br />
      </div>
      
      
      <h3>Functions:</h3>
      <%= simple_format(@agency.function) %>
      <br/>
      
      <div>
      <h3>Services:</h3>
	  <% unless @existing_services.empty? %>
	  	<table id = "services" class="services" summary="User services">
          	<%= render @existing_services %>
        </table>
      <% end %>
      </div>
      
      <% if @agency.street1 %>
      <div>   
      <h3>Address:</h3>
	  <%= @agency.street1 %><br/>
	  <%= @agency.street2 if @agency.street2 %><br/>
   	  <%= @agency.city %> 
   	  <%= ", #{@agency.district}" unless @agency.district.empty? %>
   	  <%= ", #{@agency.state}" %><br/>
   	  PIN: <%= @agency.pin %>
   	  <br/><br/>
   	  </div>
   	  <% end %>
      
		
	  <h3>Add a service:</h3>
      <% form_for @service, :remote => true, :html => { :id => "add_service_form" } do |f| %>
      	<%= f.hidden_field :page_id, :value => @agency.id %>
      	<label for="name">Service:</label><br />
      	<%= f.text_field :name %><br />
      	<label for="external_link">Link:</label><br />
      	<%= f.text_field :external_link %><br />
      	<label for="desc">Description (optional):</label><br />
      	<%= f.text_area :desc %>
		<p><%= submit_tag 'Add Service' %></p>
	  <% end %>
		
      <%= link_to 'Edit page', edit_page_path(@agency) %>
      
      
    </td>
    <td class="sidebar round">
		<h3>Quick Facts</h3>
		<% if (@agency.leader) %>
			<strong>
			<% if(@agency.leader_title) %>
				<%= @agency.leader_title %> 
			<% else %>
				Leader
			<% end %>
			</strong><br />
			<%= @agency.leader %><br />
		<% else %>
			<%= link_to 'Add leader', edit_page_path(@agency) %><br />
		<% end %>
		
		<% if (@agency.budget) %>
			<strong>Budget</strong><br />
			Rs <%= (@agency.budget) %> cr<br />
		<% else %>
			<%= link_to 'Add budget', edit_page_path(@agency) %><br />
		<% end %>
		<strong>RTI options</strong><br />
    </td>
  </tr>
</table>